body {
    margin: 0%;
    font-size: 2em;
    font-family: sans-serif;
}

header, footer {
    background-color: greenyellow;
    height: 20vh;
    width: 100vw;
}

.main {
    display: flex;
}

.main div {
    height: 60vh;
}

.article {
    width: 60vw;
}

.main .nav,
.main .aside {
    width: 20vw;
}

.nav {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav:hover {
    background-color: rgb(207, 179, 144);
}

.aside {
    background-color: aquamarine;
}